// $base00: #1d1f21;
// $base00: rgba(29, 31, 33, 0.85);
// $base01: #282a2e;
// $base02: #373b41;
// $base03: #969896;
// $base04: #b4b7b4;
// $base05: #c5c8c6;
// $base06: #e0e0e0;
// $base07: #ffffff;
// $base08: #cc6666;
// $base09: #de935f;
// $base0A: #f0c674;
// $base0B: #b5bd68;
// $base0C: #8abeb7;
// $base0D: #81a2be;
// $base0E: #b294bb;
// $base0F: #a3685a;

// $blue: $base0D;
// $cyan: $base0C;
// $green: $base0B;
// $magenta: $base0E;
// $yellow: $base0A;
// $red: $base08;
// $orange: $base09;
// $brown: $base0F;

$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$maroon: #eba0ac;
$peach: #fab387;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$lavender: #b4befe;

$text: $base06;
$subtext1: #bac2de;
$subtext0: #a6adc8;
$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: #6c7086;

$surface2: #585b70;
$surface1: #45475a;
$surface0: #313244;

$base: $base00;
$mantle: #181825;
$crust: #11111b;

$fg: $text;
$bg: $base;
$bg1: $surface0;
$border: #28283d;
$shadow: $crust;